<div class="container">
  <div class="sticky-top">
    <h1>About Planet Globula</h1>
  </div>
  <div class="thumbnail">
    <div class="img-about">
      <p>
        <%= image_tag ("luka.jpg") %>
        <button onclick="typeWriter()" class="btn btn-danger forms">Luka's story</button>
        <div id="type-text"></div>
      </p>
    </div>
  </div>
</div>
<%= javascript_include_tag 'about.js' %>
