<div class="container">
<div class="sticky-top">
  <h1>About Planet Globula</h1>
</div>
  <div class="thumbnail"
    <p><strong>Luka:</strong>
      <br>
      <br>
        <em>"My first encounter with a closed terrarium occurred in 2013 at the school where I worked as a secretary. It was love at first sight. Only three years after I´m starting to work more intensely on my project.
      <br>
      <br>
        At the moment I'm exploring the world of bookbinding and papercraft so you can definitely expect more new stuff from us in the future."
      </em>
      <br>
      <br>
        ***
    </p>
  </div>
</div>
