<div class="container">
  <div class="sticky-top show-product">
    <h2>Thanks for the feedback! :)</h2>
    <%= link_to 'Keep exploring', products_path, class:"btn btn-danger" %>
  </div>
</div>
