<div class="container">
  <div class="sticky-top show-product">
    <h2>Thank you. We have received your message and will respond as soon as possible. :)</h2>
    <%= link_to 'Back', simple_pages_contact_path, class:"btn btn-danger" %>
  </div>
</div>
