<div class="container">
  <div class="sticky-top">
    <h1>Thank you. We have received your message and will respond as soon as possible. :)</h1>
  </div>
  <%= link_to 'Back', simple_pages_contact_path, class:"btn btn-danger" %>
</div>
