.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 1, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.new-product {
  padding-top: 100px;
  text-align: center;
}

/* line 6, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.edit-product {
  padding-top: 100px;
  text-align: center;
}

/* line 11, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.show-product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

/* line 18, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.show-photo {
  padding-top: 0px;
}

/* line 21, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.product-buttons {
  padding-bottom: 20px;
}

/* line 24, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.thumbnail.orders-page {
  margin-top: 20px;
}

/* line 28, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.sticky-top {
  text-align: center;
  background-color: #daf1e2;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1020;
  box-shadow: 0 0 20px 1px #a1dec0;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* line 39, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
a.btn.btn-danger {
  color: white;
}

/* line 43, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.thumbnail {
  box-shadow: 0 0 5px 1px #a1dec0;
  background: #daf1e2;
}

/* line 48, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
p {
  word-wrap: break-word;
}

/* line 51, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
textarea#comment_body {
  border-color: #31814d;
}

/* line 54, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
textarea#product_description {
  border-color: #31814d;
}

/* line 57, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/products.scss */
.row > *:nth-child(3n+4) {
  clear: left;
}
/* line 1, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 15, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 18, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 22, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 28, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 33, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
input .field {
  padding-left: 10px;
}

/* line 42, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.actions input {
  margin-top: 20px;
}

/* line 46, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 50, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 56, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.thumbnail.reviews {
  float: right;
  text-align: center;
  width: 300px;
}

/* line 62, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* The side navigation menu */
/* line 91, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a1dec0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
}

/* line 104, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* line 113, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* line 117, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* line 125, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
#main {
  transition: margin-left .5s;
  padding: 20px;
  padding-top: 30px;
}

/* line 130, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
a.closebtn {
  padding-top: 60px;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: -20px;
  background-color: #a1dec0;
}

/* line 137, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
span.glyphicon.glyphicon-ok-circle {
  color: #31814d;
}

/* line 140, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #31814d;
  border-color: #31814d;
}

/* line 147, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.pagination li a {
  color: #31814d;
}

/* line 150, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.see-reviews {
  border: none;
  background-color: #a1dec0;
  padding: 14px 28px;
  font-size: 16px;
  display: inline-block;
  opacity: 0.6;
  transition: 0.3s;
}

/* line 160, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
.see-reviews:hover {
  opacity: 1;
}

@media screen and (max-height: 450px) {
  /* line 165, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 166, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/scaffolds.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/* line 1, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
h1 {
  text-align: center;
}

/* line 4, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-image: url("/assets/leafs-59bec578a32bbded26ca84de9c0ba928ac51355fd0f9d3e37643db57cb41e0e6.JPG");
  background-attachment: fixed;
}

/* Footer */
/* line 11, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.btn-danger {
  background-color: #31814d;
  border-color: #31814d;
  margin-right: 30px;
  margin-bottom: 5px;
  color: white;
}

/* line 22, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
input.btn.btn-danger.search {
  margin-right: 0px;
}

/* line 25, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
input.btn.btn-danger.red {
  margin-right: 0px;
}

/* line 28, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-right {
  float: right;
  margin-top: 10px;
}

/* line 32, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
ul.nav.navbar-nav li a {
  transition: 0.8s;
  color: #ffffff;
  padding-bottom: 16px;
}

/* line 37, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
ul.nav.navbar-nav li a:hover {
  background-color: #ffffff;
  color: #2d8659;
}

/* line 41, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/* line 44, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-toggle:focus {
  background-color: #31814d;
}

/* line 47, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-toggle:hover {
  background-color: #c8ead9;
}

/* line 50, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
input {
  border: none;
  padding: 10px 0px 5px 10px;
  font-size: 15px;
  border-radius: 20px;
}

/* line 56, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}

/* line 60, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 17px;
}

/* line 64, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #339966;
}

/* line 67, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-collapse {
  border-color: #ffffff;
}

/* line 70, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.navbar-brand {
  padding-bottom: 15px;
  padding-top: 0px;
}

/* line 74, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
#notice.alert.alert-success {
  background-color: #daf1e2;
  text-align: center;
}

/* line 79, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
#alert.alert.alert-danger {
  text-align: center;
}

/* line 82, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.container.notifications {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 86, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
a.carousel-control {
  background-color: transparent;
}

/* line 89, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
#carousel-example-generic.carousel.slide {
  margin-top: -25px;
}

/* line 92, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.text-muted {
  color: #010c02;
}

/* line 95, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
hr {
  border-color: #79c092;
}

/* line 98, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.img-about img {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 105, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
button.btn.btn-danger.forms {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* line 111, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
#type-text {
  font-style: italic;
  font-size: 2em;
}

/* line 115, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* line 123, /mnt/c/Users/Bibici/Desktop/LukaProjekti/planet/planetglobula/app/assets/stylesheets/simple_pages.scss */
.notifications {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

/*End footer*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

