// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-product {
  padding-top: 100px;
  text-align: center;
}

.edit-product {
  padding-top: 100px;
  text-align: center;
}

.show-product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.show-photo {
  padding-top: 30px;
}

.product-buttons {
  padding-bottom: 20px;
}

.new-product {
  padding-left: 20px;
}

.sticky-top {
  text-align: center;
  background-color: #daf1e2;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1020;
  box-shadow: 0 0 20px 1px rgba(161, 222, 192, 1);
  margin-bottom: 30px;
  padding-bottom: 10px;
}
a.btn.btn-danger {
  color:white;
}

.thumbnail {
  box-shadow: 0 0 5px 1px rgba(161, 222, 192, 1);
  background: #daf1e2;
}

p {
  word-wrap: break-word;
}

.row > *:nth-child(3n+4) {
  clear: left;
}
