// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-product {
  padding-top: 100px;
  text-align: center;
}
.edit-product {
  padding-top: 100px;
  text-align: center;
}
.show-product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.show-photo {
  padding-top: 30px;
}
.product-buttons {
  padding-bottom: 20px;
}
.new-product {
  padding-left: 20px;
}
.offer {
  text-align: center;
}
.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  background: #daf1e2;
}
p {
  word-wrap: break-word;
}
