// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-product {
  padding-top: 100px;
  text-align: center;
}

.edit-product {
  padding-top: 100px;
  text-align: center;
}

.show-product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.img-responsive {
  padding-top: 30px;
}
