body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

input .field {
  padding-left: 10px;
}

.actions input {
  margin-top: 20px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.thumbnail.reviews {
  float: right;
  text-align: center;
  width: 300px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
/* The side navigation menu */
.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #a1dec0;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s;
}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover {
   color: #f1f1f1;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

#main {
   transition: margin-left .5s;
   padding: 20px;
   padding-top: 30px;
}
a.closebtn {
  padding-top: 60px;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: -20px;
  background-color: #a1dec0;
}
span.glyphicon.glyphicon-ok-circle {
  color: rgb(49, 129, 77);
}
.see-reviews {
  border: none;
  background-color: #a1dec0;
  padding: 14px 28px;
  font-size: 16px;
  display: inline-block;
  opacity: 0.6;
  transition: 0.3s;
}

.see-reviews:hover {
  opacity: 1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
