// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-image: url("leafs.JPG");
}
/* Footer */
html {
  position: relative;
  min-height: 100%;
}
.carousel-control {
  color: #c8ead9;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
/*End footer*/
